body{
    background-image: url('home.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#weatherContainer {
    background-color: rgba(0,0,0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}

#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

#searchContainer {
    padding: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#searchContainer input{
    width: 200px;
}

#searchContainer button {
    background-color: rgb(1, 159, 198);
    width: 75px;
    bottom: 300px;
    right: 400px;

}
.searchControl {
    box-shadow: 2px 2px 2px black;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#weatherMain {
    display: block;
    margin-bottom: 20px;
}

#weatherMain div {
    display: inline-block;
}

#weatherDescriptionHeader {
    font-size: 28px;
    vertical-align: 50%;
}

#temperature {
    font-size: 38px;
    vertical-align: 25%;
}

.bottomDetails{
    display: block;
    font-size: 24px;
    text-align: center;
}
hr {
    margin-bottom: 28px;
}